[submodule "AFIncrementalStore"]
	path = AFIncrementalStore
	url = http://git@github.com:stevederico/AFIncrementalStore.git
[submodule "sspulltorefresh"]
	path = sspulltorefresh
	url = git@github.com:samsoffes/sspulltorefresh.git
